<div id="<%= dom_id user_trasaction %>">
  <p>
    <strong>Name:</strong>
    <%= user_trasaction.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user_trasaction.photo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user_trasaction.description %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= user_trasaction.payment %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= user_trasaction.category_id %>
  </p>

</div>
